body {
    background: linear-gradient(135deg, #1a202c 0%, #2d3748 100%);
    min-height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    width: 100%;
    padding: 2.5rem;   
}
.titulo-h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}
.destacado {
    color: #4ADF86;
}
.slogan-p {
    color: #a0aec0;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.generar-btn {
    background: #10B981;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 1.1rem;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(72, 204, 108, 0.3);
}
.caracteres {
    margin: 1rem 0;
    text-align: center;
}
.form-label {
    color: #FFFFFF;
    margin: 0.5rem 0;
}
#numCaracteres {
    margin: 1rem auto;
    padding: 16px 8px;
    border-radius: 15px;
    background-color: #2d3748;
    color: #FFFFFF;
    max-width: 50%;
}
.generar-btn:hover {
    background: #0b845b;
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(72, 204, 108, 0.4);
    color: white;
}
.generar-btn:active {
    transform: translateY(0);
}
.contraseñas-contenedor {
    margin-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    
}
.contraseñaEl {
    background: rgba(26, 32, 44, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 16px 8px;
    font-family: 'Courier New', Monaco, monospace;
    font-size: 1rem;
    color: #48cc6c;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin: 2rem auto;
    width: 70%;
}
.contraseñaEl:hover {
    background: rgba(26, 32, 44, 0.9);
    border-color: #48cc6c;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width: 768px) {
      /* Tus estilos específicos para pantallas de hasta 768px de ancho */
      .titulo-h1 {
        font-size: 1rem;
      }
      .slogan-p {
        font-size: 0.9rem;
      }
      .form-label {
        font-size: 0.7rem;
      }
      #numCaracteres {
        width: 100%;
        padding: 10px 8px;
        font-size: 0.9rem;
      }
      .generar-btn {
        width: 100%;
        padding: 12px 0;
        font-size: 1rem;
      }
      .contraseñas-contenedor {
        margin-top: 1.5rem;
      }
      .contraseñaEl {
        font-size: 0.9rem;
        padding: 0.8rem 1rem;
        margin: 1rem 0;
      }
    }